.Tudo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6278F7;
  
}





.FREI {
 display: flex;
 background-color: #6278F7;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 

}

img{height: 100px;}

.inicio{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 500px;
 
  
}

.esoacinho{
  padding-right: 100px;
}


h1{
 
padding-top: 200px;
padding-left: 90px;
}

.cartoes{
  padding-left: 90px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cor1{
  background-color: gold;
  height: 50px;
  width: 90px;
  border-radius: 10px;
}
.cor2{
  background-color: blue;
  height: 50px;
  width: 90px;
  border-radius: 10px;
}
.cor3{
  background-color: green;
  height: 50px;
  width: 90px;
  border-radius: 10px;
}

.cartao{
  border: solid 1px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100px;
}